! Special
URxvt.foreground:   #E5E9F0
URxvt.cursorColor:  #E5E9F0
URxvt*depth: 32
URxvt.background: [80]#282828
!URxvt.transparent: true


URxvt.font: \
             xft:UbuntuMono Nerd Font Mono:style=Regular:antialias=true:size=20:minspace=False, \
             xft:DejaVuSansMono Nerd Font:antialias=true:size=20:minspace=False, \

URxvt.boldFont: 
             xft:UbuntuMono Nerd Font Mono:style=bold:antialias=true:size=22:minspace=False, \
             xft:DejaVuSans Nerd Font:antialias=true:style=bold:size=22:minspace=False

URxvt.scrollBar: false
